<div class="flex justify-center items-center h-screen bg-black">
  <div
    class="max-w-md w-full p-8 bg-white shadow-md rounded-lg transform transition-all duration-300 hover:scale-105"
  >
    <h1 class="text-3xl font-bold mb-6 text-center">Register</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="mb-4 relative">
        <input
          type="text"
          placeholder="name"
          formControlName="name"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div
          *ngIf="getRepated('name').errors && getRepated('name').touched"
          class="error"
        >
          <div *ngIf="getRepated('name').errors.required">
            First Name is requird
          </div>
          <div *ngIf="getRepated('name').errors.minlength">
            Min length is
            {{ getRepated("name").errors["minlength"]["requiredLength"] }}But
            you enter
            {{ getRepated("name").errors["minlength"]["actualLength"] }}
          </div>
        </div>
      </div>
      <div class="mb-4 relative">
        <input
          type="text"
          placeholder="Email"
          formControlName="email"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div
          *ngIf="getRepated('email').touched && getRepated('email').errors"
          class="error"
        >
          <div *ngIf="getRepated('email').errors.required">
            E-mail is Required
          </div>
          <div *ngIf="getRepated('email').errors['pattern']">
            Email should be example&#64;ex.ex
          </div>
        </div>
      </div>
      <!-- <div class="mb-4 relative">
        <input
          type="text"
          placeholder="Address"
          formControlName="address"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div
          *ngIf="getRepated('address').errors && getRepated('address').touched"
          class="error"
        >
          <div *ngIf="getRepated('address').errors.required">
            address is requird
          </div>
        </div>
      </div>
      <div class="mb-4 relative">
        <input
          type="text"
          placeholder="Phone"
          formControlName="phone"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div
          class="error"
          *ngIf="getRepated('phone').touched && getRepated('phone').errors"
        >
          <div *ngIf="getRepated('phone').errors.required">
            Phone is Required
          </div>
        </div>
      </div> -->
      <div class="mb-4 relative">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div
          *ngIf="
            getRepated('password').errors && getRepated('password').touched
          "
          class="error"
        >
          <div *ngIf="getRepated('password').errors.required">
            password is requird
          </div>
          <div *ngIf="getRepated('password').errors.minlength">
            Min length is
            {{
              getRepated("password").errors["minlength"]["requiredLength"]
            }}But you enter
            {{ getRepated("password").errors["minlength"]["actualLength"] }}
          </div>
        </div>
      </div>
      <div class="mb-4 relative">
        <input
          type="password"
          placeholder="Re-password"
          formControlName="repassword"
          class="w-full px-3 py-2 border rounded-md bg-gray-100 focus:outline-none focus:border-blue-500 transition duration-500 ease-in-out transform hover:scale-105"
        />
        <div *ngIf="getRepated('repassword').touched" class="error">
          <div *ngIf="getRepated('repassword').errors?.required">
            repassword is requird
          </div>
          <div *ngIf="contactForm.errors?.['passwordmatcherror']">
            Passwords do not match
          </div>

          <!-- <div
            *ngIf="
              getRepated('repassword').value !== getRepated('password').value
            "
          >
            Passwords do not match
          </div> -->
        </div>
      </div>
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="contactForm.invalid"
          class="w-full bg-black text-white py-2 rounded-md hover:bg-gray-800 transition duration-300"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
