<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="openModal() ">
  Add Review
</button>

<!-- Modal -->
<div class="modal block" #exampleModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Review</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <!-- // (ngSubmit)="onupdata(myForm)" -->
      <form [formGroup]="myForm">
        <div class="modal-body">

          <div class="mb-3">
            <label for="review" class="form-label">Review</label>

            <!-- "myForm.controls['review'].errors?.['pattern'] -->
            <input type="text" class="form-control" id="review" aria-describedby="emailHelp" formControlName="review">
            <div class="text-danger"
              *ngIf="myForm.get('review')?.invalid  && (myForm.get('review')?.dirty || myForm.get('review')?.touched)">
              Please provide a valid Review</div>
          </div>

          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid"
            >'Add Review'</button>
        </div>
      </form>
    </div>
  </div>
</div>
