/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/glightbox/dist/css/glightbox.css";
@import "../node_modules/nouislider/dist/nouislider.min.css";
@import "../node_modules/choices.js-addchoise/public/assets/styles/choices.css";
@import "../node_modules/swiper/swiper-bundle.min.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap");
@import "./assets/css/style.default.css";
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
/* body{
  min-width: 100vh;
} */


.active-link{
  color: #b68b23;
}
.curser:hover{
  cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

