<!-- <table class="table table-light table-striped text-center " style="width: 55vw;">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">productName</th>
      <th scope="col">category</th>
      <th scope="col">description</th>
      <th scope="col">rating </th>
      <th scope="col"> price</th>
      <th scope="col"> quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr class="" *ngFor="let item of allProduct let i = index">
      <td class="">{{ i + 1}}</td>
      <td class="">{{ item.productName}}</td>
      <td class=""> {{ item.category}}</td>
      <td class="">{{ item.description}}</td>
      <td class="">{{ item.rating}}</td>
      <td class="">{{ item.price}}</td>
      <td class="">{{ item.quantity}}</td>

      <td>
        <button type="button" class="btn btn-primary me-3">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>


  </tbody>
</table> -->

<div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Shop</h1>
        </div>
        <div class="col-lg-6 text-lg-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
              <li class="breadcrumb-item"><a class="text-dark" [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container p-0">
      <div class="row justify-content-center">

        <!-- SHOP LISTING-->
        <div class=" col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
          <div class="row mb-3 align-items-center">
            <div class="col-lg-6 mb-2 mb-lg-0">
              <p class="text-sm text-muted mb-0">Showing  of 53 results</p>
            </div>
            <div class="col-lg-6 ">
              <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i
                      class="fas fa-th-large"></i></a></li>
                <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i
                      class="fas fa-th"></i></a></li>
                <li class="list-inline-item">

                  <select class="selectpicker" data-customclass="form-control form-control-sm"
                    (change)="sorting($event)">

                    <option value="price">Price: Low to High(Ascending)</option>
                    <option value="-price">Price: High to Low (Descending)</option>
                    <!-- <option value="popularity">Popularity </option> -->
                    <option value="title">Sort By Name (Ascending) </option>
                    <option value="-title">Sort By Name (Descending)</option>
                  </select>

                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <!-- PRODUCT  src="assets/images/products/{{ item.image }}"-->
            <div class="col-lg-4 col-sm-6" *ngFor="let item of allProduct let i = index">
              <div class="product text-center">
                <div class="mb-3 position-relative">
                  <div class="badge text-white bg-"></div><a class="d-block"
                    [routerLink]="['/product-detail',item._id]"><img class="img-fluid w-100" [src]=" item.imageCover"
                      alt="..."></a>
                  <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                      <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i
                            class="far fa-heart"></i></a></li>
                      <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" (click)="addToCart(item)">Add to
                          cart</a></li>
                      <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView"
                          data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                    </ul>
                  </div>
                </div>
                <h6> <a class="reset-anchor" [routerLink]="['/product-detail',item._id]">{{ item.title }}</a></h6>
                <p class="small text-muted">{{ item.price}} $</p>
              </div>
            </div>



          </div>
          <!-- PAGINATION-->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center justify-content-lg-end">

              <!--
              <li class="page-item mx-1" [class.disabled]="currentPage === 0" (click)="prev()">
                <a class="page-link" [routerLink]="['/products']" [queryParams]="{ page: currentPage - 1 }"
                  aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li> -->
                                      <div class="col-md-6 mb-3 mb-md-0 text-md-start">
                            <!-- Replace the anchor tag with routerLink -->
                            <a class="btn btn-link p-0 text-dark btn-sm" [routerLink]="['/cart']">
                                <i class="fas fa-long-arrow-alt-left me-2"></i>Back to cart
                            </a>
                        </div>

              <li class="page-item mx-1 " *ngFor="let page of totalPagesArray let i=index" (click)="changePage(page)" [class.active]="currentPage-1 === page">



                  <a class="page-link"
                  [routerLink]="categoryId ? ['/category', categoryId, 'product'] : ['/products']"
                  [queryParams]="{ page: currentPage }">
                  {{page+1}}
                </a>
              </li>

              <!-- <li class="page-item ms-1" (click)="next()" [class.disabled]="currentPage === totalPages - 1">
                <a class="page-link" [routerLink]="['/products']" [queryParams]="{ page: +currentPage + 1 }"
                  aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li> -->

            </ul>
          </nav>


        </div>
      </div>
    </div>
  </section>
</div>
